@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.container .cards {
    background: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 50px 40px;
    border: none;
    z-index: 9999;
}
header {
    background-color: #55abf8;
    z-index: 1;
}
.logo img {
    width: 40px;
    padding: 10px 0px;
}

.navbar {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 45px 45px 0px 0px;
    z-index: 0;
    padding: 16px 0px;
}
.navbar .nav-item {
    color: #9aa4ad;
    text-decoration: none;
}

.navbar .nav-item:hover {
    color: #55abf8;
}

.navbar .nav-item.active {
    color: #55abf8;
}

.navbar i {
    font-size: 30px;
}

.navbar p {
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
}
